<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

      <div class="web-cont-class">
          <div class="left-content">
            <div class="web-cont-title">
                <h1>{{title}}</h1>
            </div>
            <br>
            <div class="web-summary">
              <h2>{{summary}}</h2>
            </div>
            <br>
            <div class="web-founding">
              <h2>{{founding}}</h2>
            </div>
          </div>
          <div class="web-form">
              <app-form-web></app-form-web>
          </div>
      </div>
      <app-resume></app-resume>
    </body>
</html>
