.jumbotron {
    background-attachment: fixed;
    min-height: 550px;
    margin-bottom: 0px;
    
    background-repeat: no-repeat;
    text-shadow: black 0.3em 0.3em 0.3em;
    background:
    linear-gradient(
      rgba(0,0,0,.5), 
      rgba(0,0,0,.5)
    ),
    url('../../../../assets/coverPhoto.png') no-repeat;
    background-size: cover;
    }
  .title {
    color: #feff00;
    font-style: normal;
    font-family: normal;
    font-size: 80px;
    padding-top: 120px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
  }
  .subtitle {
    font-size: 28px;
    color: #feff00;
    font-style: italic;
  }