  <header class="main-header">
    <div class="logo"></div>
  </header>

<div class="about-me">
  <div class="pic2"></div>
  <div class="content">
      <section class="section-dark">

        <article class="my-story">
          <h1>Hi, I'm John</h1>
          <hr>
          <p>I'm a software engineer and freelance web and mobile app developer passionate about building sophisticated yet accessible programs to meet the needs of the end user. Through obtaining a bachelors in literature, a degree in military science at Georgetown, and serving as a Army engineer and an Army Ranger for four years, I gained extensive analytical and project management skills, and an ability to solve technical challenges with precision. Having studied software engineering both academically and as an obsession, I left the military and moved to Silicon Valley to practice development at the highest level. If you need a developer for your project, I would love to hear about it.</p>
          <hr>
        </article>

        <div class="row center">

          <div class="col m3 s6 btn_links">
            <div class="githubIcon"><br>
              <a [href]="userInfo['githubAccount']" class="icon-github" target="_blank"><br><br>Go To My Github</a>
            </div>
            <div class="linkedInIcon"><br>
              <a [href]="userInfo['linkedIn']" class="icon-linkedIn" target="_blank"><br><br>Go To My LinkedIn</a>
            </div>
            <div class="blogIcon"><br>
              <a [href]="userInfo['AmericanElement']" class="icon-blog" target="_blank"><br><br>Go To My Blog/Podcast</a>
            </div>
            <div class="emailIcon"><br>
               <a [href]="userInfo['Email']" class="icon-email" target="_blank"><br><br>Send Me An Email</a>
            </div>                    
          </div>

        </div>

      </section>
  </div>
</div>

