<hr class='my-4'>
  <div class='learningpage'>
    <div id='intro-learning' class='container-fluid'>
    <app-intro-learning></app-intro-learning>
  </div>
  <hr class='my-4'>
  <div id='no-quit-callout' class='container-fluid'>
    <app-no-quit-callout></app-no-quit-callout>
  </div>
  <hr class='my-4'>

  <div id='info-request-form' class='container-fluid'>
    <app-info-request-form></app-info-request-form>
  </div>
  <hr class='my-4'>

  <div id='learn-online-more-info' class='container-fluid'>
    <app-learn-online-more-info></app-learn-online-more-info>
  </div>
  <hr class='my-4'>

  <div id='about-us-different' class='container-fluid'>
    <app-about-us-different></app-about-us-different>
  </div>
  <hr class='my-4'>

  <div id='mission-login' class='container-fluid'>
    <app-mission-login></app-mission-login>
  </div>
</div>