body {
    background-color: black;
    min-height: 237px;
    display: inline-flex;
    width: 100%
}
.footer-container {
    background-color: black;
    color: white;
    margin-left: inherit;
    padding: 7px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 1px;
    padding-left: 7px;
    margin: auto;
    text-align: center;
}
.githubIcon {
    display: inline-block;
    min-height: 32px;
    min-width: 62px;
    background-image: url('../../../assets/githubIcon.ico');
    background-repeat: no-repeat;
    background-position: top center;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.linkedInIcon {
    display: inline-block;
    min-height: 32px;
    min-width: 62px;
    background-image: url('../../../assets/linkedIn.ico');
    background-repeat: no-repeat;
    background-position: top center;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.blogIcon {
    display: inline-block;
    min-height: 32px;
    min-width: 62px;
    background-image: url('../../../assets/blogIcon.png');
    background-repeat: no-repeat;
    background-position: top center;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.emailIcon {
    display: inline-block;
    min-height: 32px;
    min-width: 62px;
    background-image: url('../../../assets/emailIcon.png');
    background-repeat: no-repeat;
    background-position: top center;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.icon-text {
    margin-top: 32px;
}
