<div class="different-container">
  <h2>What Makes Us Different</h2>
  <br>
  <p>
    Programming explained simply by men and women who speak the same language. 
  <br>
    Concepts applied to real-world problems in a team environment. 
  </p>
  <p>
    Become a full-stack developer with a curriculum that adapts as rapidly as the tech industry.
    <br>
    Learn exactly the skills that companies are looking for right now, and apply them with your team.
  </p>
  <p>
    Stay on with your team (if you make the cut), or hit the road to a startup or company.
    <br>
    You will leave Sapper Coding with the skillset to succeed, because you be too well trained to fail.
  </p>
</div>
