<div class="container-fluid">
  <div class="row">
      <div class="col-sm-4">
        <h4>Where We Come From</h4>
        <ul id="location_list" class="list_unstyled">
          <li>
            Fort Leonard Wood, MO
          </li>
          <li>
            Fort Campbell, KY
          </li>
          <li>
            Fort Belvoir, DC
          </li>
          <li>
            Fort Bragg, NC
          </li>
          <li>
              Fort Benning, GA
          </li>
          <li>
            Fort Hood, TX
          </li>
        </ul>
          <h4>Where We Are Today</h4>
          <ul id="location_list" class="list_unstyled">
            <li>
              Silicon Valley, CA
            </li>
          </ul>
      </div>
      <div class="col-sm-4">
        <img src='../../../../assets/america350x225.png' class='navIconLite'>
      </div>
      <div class="col-sm-4">
          <h4>Companies Supporting Sappers</h4>
          <ul class="list_unstyled companies_using_stack_list">
            <li class="companies_using_stack_list" style="background-position: -491px -9px;">Wounded Warrior Project<li>
            <li class="companies_using_stack_list" style="background-position: -491px -9px;">Veteran Service Organization<li>
          </ul>
      </div>
    </div>
</div>