<div class="header_block">
  <div class="splash_image_block">
    <div class="information_block vertical_centered"></div>
    <div id="video_parent">
        <div id="video_mask"></div>
        <img src="../../../assets/GearFlagB.jpg" alt="coding-dojo-bootcamp-student-life" id="home_video_placeholder" style="display: none;">
        <div class="sophis-video-control" draggable="true"></div><div class="sophis-video-control" draggable="true"></div>
        <video id="splash_main_video" loop="loop" class="sophis-video" sophis-video-control="true"> 
          <source src="../../../assets/fightVideo.mp4" title="A day on campus"> 
        </video>
    </div>
      <div id="splash_link"> 
          <header>
            <div id="future_links"> 
              <div id="radial_ring_code" class="radial"></div>
              <div id="radial_frame" class="radial"></div>
              <div id="radial_ring_1" class="radial"></div>
              <div id="radial_ring_2" class="radial"></div>
              <div id="radial_ring_3" class="radial"></div>
              <div class="blue_line_parent">
                <div class="blue_line"></div>
              </div>
              <div id="link_parent" class="radial">
                <div class="invisible"></div>
                  <!-- <a class="fancybox/iframe" href="../../../assets/fightVideo.mp4"></a> -->
                  <a class="fancybox/iframe" href="https://player.vimeo.com/video/264854162?api=1&player_id=vimeo_video&autoplay=1"></a>
                  <div class="invisible"></div>
              </div>
            </div>

            <div class="title_block" id="desktop_version">
              <h2>SAPPER CODING</h2>
              <h3>Web and mobile app development by those who serve, to serve your business</h3>
              <div class="cta_btn_block">
                  <a routerLink="/contact" class="cta_blue_btn">Hire Sappers</a>
                  <a routerLink="/learning" class="cta_blue_btn_light">Become a Sapper</a>
              </div>
            </div>

            </header>
        </div>
      </div>
    </div>
    <div class="jumbotron">
        <div class="text-center project-referal">
          <div class="title text-center">
            <h2>Elite Veteran Developer Teams</h2> 
              <h3>For Your Next Project</h3>
          </div>
      </div>
    </div>

    <!-- <div class="box rotate"></div> -->
