<div class="header_block">
    <div id="made-in-ny"></div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="angular-fancybox-plus.js"></script>
    <script>
        var options = {
            id: 59777392,
            width: 640,
            loop: true
        };
    
        var player = new Vimeo.Player('video_mask', options);
    
        player.setVolume(0);
    
        player.on('play', function() {
            console.log('played the video!');
        });
    </script>
  <div class="splash_image_block">

    <div class="information_block vertical_centered"></div>
    <div id="video_parent">
      <div id="video_mask"></div>
          <img src="https://cdn2.codingdojo.com/new_images/home/splash_image.png" alt="sapper-life" id="home_video_placeholder" style="display:none;">
          <video id="splash_main_video" loop="loop" class="sophis-video" sophis-video-control="true">
            <source src="https://player.vimeo.com/video/264854162" title="A day as a Sapper">
          </video>
        
      

        <div class="splash_image_block">
          <div class="information_block vertical_centered"></div>
        </div>
      </div>
      <div id="splash_link"> 
          <header>

            <div id="future_links"> 
              <div id="radial_ring_code" class="radial"></div>
              <div id="radial_frame" class="radial"></div>
              <div id="radial_ring_1" class="radial"></div>
              <div id="radial_ring_2" class="radial"></div>
              <div id="radial_ring_3" class="radial"></div>
              <div class="blue_line_parent">
                <div class="blue_line"></div>
              </div>
              <div id="link_parent" class="radial">
                <div class="invisible"></div>
                  <a class="fancybox/iframe" href="https://player.vimeo.com/video/264854162?api=1&player_id=vimeo_video&autoplay=1"></a>
                  <div class="invisible"></div>
              </div>
            </div>

            <div class="title_block" id="desktop_version">
              <h2>SAPPER CODING</h2>
              <h3>Web and mobile app development by those who serve, to serve your business</h3>
              <div class="cta_btn_block">
                  <a routerLink="/contact" class="cta_blue_btn">Hire Sappers</a>
                  <a routerLink="/learning" class="cta_blue_btn_light">Become a Sapper</a>
              </div>
            </div>

            </header>
        </div>
      </div>
    </div>
    <div class="jumbotron">
        <div class="text-center project-referal">
          <div class="title text-center">
            <h2>Elite Veteran Developer Teams</h2> 
              <h3>For Your Next Project</h3>
          </div>
      </div>
    </div>
