/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

BUTTONS
.cta_btns {
    display: inline-block;
    margin: 0px 0px 0px 1.39vw;
    vertical-align: middle;
}
.cta_btns>a {
    width: 7.5vw;
    display: inline-block;
    font-style: normal !important;
    font-variant-ligatures: normal !important;
    font-variant-caps: normal !important;
    font-variant-numeric: normal !important;
    font-variant-east-asian: normal !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-size: 0.9vw !important;
    line-height: 1.39vw !important;
    font-family: ProximaNova-Light, tahoma, verdana, arial, sans-serif !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
    text-decoration-style: initial !important;
    text-decoration-color: initial !important;
    text-align: center;
    vertical-align: middle;
}
.cta_blue_btn, .cta_green_btn .cta_blue_btn_light {
    background-color: #06aae2;
    color: #fff !important;
    display: inline-block;
    font-family: ProximaNova-Light, tahoma, verdana, arial, sans-serif !important;    padding: 8px 0px;
    text-decoration: none !important;
    text-align: center;
    vertical-align: middle;
}
.cta_blue_btn_light {
    color: #06aae2 !important;
    background-color: transparent;
    border: 0.0704vw solid #06aae2;
    padding-top: 0.563vw;
    padding-right: 0px;
    padding-bottom: 0.55vw;
    padding-left: 0px;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.97vw;
    line-height: 1.42857143vw;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
div {
    display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
p, li {
    font: 18px/22px ProximaNova-Light,tahoma,verdana,arial,sans-serif;
}
p {
    margin: 0 0 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
a {
    color: #fff;
    text-decoration: none;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
h3 {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 2.959vw;
    line-height: 3.52vw;
    font-family: ProximaNova-Bold, tahoma, verdana, arial, sans-serif;
}

h6 {
    font: 20px/25px ProximaNova-Light,tahoma,verdana,arial,sans-serif;
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    box-sizing: border-box;
}
.list_unstyled {
    padding-left: 0;
    list-style: none;
}
