<div class="intro-container">
  <h2>GO FROM SOLDIER TO SELF-SUSTAINING DEVELOPER IN 16 WEEKS</h2>
  <p>Learn to code in the trenches of Silicon Valley with real-world projects. Build a portfolio and get cash-flow positive with your Sapper team.</p>
  <div class="cta_btns">
    <a
      href="javascript:window.scrollTo(
        {
          top: document.getElementById('learn-online-more-info').offsetTop - 79,
          behavior: 'smooth'
        } )"
      class="contact_us_button cta_blue_btn_light"
      >Learn Online
    </a>
    <a
      href="javascript:window.scrollTo(
        {
          top: document.getElementById('info-request-form').offsetTop - 79,
          behavior: 'smooth'
        } )"
      class="contact_us_button cta_blue_btn"
      >Apply to Silicon Valley Sapper
    </a>
  </div>
</div>