
<div class="quit-container">
  <div class="col-md-6">
    <div class="row">
      <h2>For Those With No Quit In Them</h2>
      <p>A great programmer once said:<br><br>
        "Don't ever ask if it's possible to code something. When you're good enough, you can create anything you can imagine. Coding is freedom, it's as simple as that."
      </p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row image">
      <!-- <div class="learning-image1"></div> -->
    </div>
  </div>
</div>