a {
    color: #fff;
    text-decoration: none;
}

.header_block {
    background: #1f2022;
    display: block;
    margin: 56px 0px 0px;
    width: 100%;
}

.header_block .main_nav_block {
    background-color: #1f2022;
    color: #fff;
    height: 56px;
    padding: 0px 40px 0px 0px;
    position: fixed;
    text-align: right;
    top: 0px;
    z-index: 9999;
    width: 100%;
}
:after, :before {
    box-sizing: border-box;
}
.header_block .main_nav_block .cd_logo {
    display: block;
    height: 42px;
    position: absolute;
    left: 30px;
    width: 140px;
    top: 50%;
    background-color: yellow;
}
.header_block .main_nav_block .nav_option_block {
    height: 56px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.header_block .main_nav_block .nav_option_block>li {
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 20px;
    font-family: ProximaNova-Bold, tahoma, verdana, arial, sans-serif;
    height: 56px;
    margin: 0px 0px 0px 28px;
    padding: 12px 18px;
    position: relative;
    vertical-align: middle;
    z-index: 999;
}
.header_block .main_nav_block .nav_option_block>li:first-child {
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.header_block .main_nav_block .nav_option_block>li>.dropdown_menu {
    display: none;
    background-color: #272634;
    padding: 0px 0px 1px;
    position: absolute;
    left: 0px;
    text-align: left;
    top: 56px;
    width: 220px;
}

/* .header_block .main_nav_block .nav_option_block>li:after {
    color: #06aae2;
    content: "\e114";
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px 0px 0px 5px;
} */
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.header_block .main_nav_block .nav_option_block, .header_block .main_nav_block .cta_btns {
    display: inline-block;
    margin: 0px 0px 0px 20px;
    vertical-align: middle;
}