a {
    color: #fff;
    text-decoration: none;
}

.header_block {
    background: #1f2022;
    display: block;
    margin: 3.94vw 0px 0px;
    width: 100%;
}
.navIcon {
    min-width: 12vw;
    min-height: 8vh;
    padding: 4px;

}

.navIconImg {
    position: relative;
}

.main_nav_block {
    background-color: #1f2022;
    color: #fff;
    height: 4.5vw;
    padding: 0px 3vw 0px 0px;
    position: fixed;
    text-align: right;
    top: 0px;
    z-index: 9999;
    width: 100%;
    min-height: 12vh;
}
.nav_option_block {
    height: 3.94vw;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.nav_option_block>li {
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 1.1vw;
    line-height: 1.409vw;
    font-family: ProximaNova-Bold, tahoma, verdana, arial, sans-serif;
    height: 3.94vw;
    margin: 0px 0px 0px 0.845vw;
    padding: 0.845vw 1.8vw;
    position: relative;
    vertical-align: middle;
    z-index: 999;
}
.nav_option_block>li:first-child {
    margin: 0px;
    margin-top: 0.5vw;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.cta_btns {
    display: inline-block;
    margin: 0px 0px 0px 2vw;
    vertical-align: middle;
    font-size: 1.1vw;
}
