.navbar {
    overflow: hidden;
    background-color: #272733;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 999999999;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
img {
    vertical-align: left;
}
.bg-dark {
    background-color: #272733!important;
}


/* a {
    color: #fff;
    text-decoration: none;
}

.header_block {
    background: #1f2022;
    display: block;
    margin: 3.94vw 0px 0px;
    width: 100%;
}
.navIcon {
    min-width: 12vw;
    min-height: 8vh;
    padding: 4px;

}

.navIconImg {
    position: relative;
}

.main_nav_block {
    background-color: #1f2022;
    color: #fff;
    height: 8vh;
    padding: 0px 3vw 0px 0px;
    position: fixed;
    text-align: right;
    top: 0px;
    z-index: 9999;
    width: 100%;
    min-height: 12vh;
}
.nav_option_block {
    height: 3.94vw;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.nav_option_block>li {
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 1.1vw;
    line-height: 1.409vw;
    font-family: ProximaNova-Bold, tahoma, verdana, arial, sans-serif;
    height: 3.94vw;
    margin: 0px 0px 0px 0.845vw;
    padding: 0.845vw 1.8vw;
    position: relative;
    vertical-align: middle;
    z-index: 999;
}
.nav_option_block>li:first-child {
    margin: 0px;
    margin-top: 0.5vw;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.cta_btns {
    display: inline-block;
    margin: 0px 0px 0px 2vw;
    vertical-align: middle;
    font-size: 1.1vw;
} */
/* /// */