<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="nav-icon-container">
      NAV ICON
    </div>
    <div class="container">
      <div class="row">
        <div class="nav-bar-col">
          <a routerLink="/home">Home</a>
        </div>
        <div class="nav-bar-col">
          <a routerLink="/learning">Learning Platform</a>
        </div>
        <div class="nav-bar-col">
          <a routerLink="/web">Web Design</a>
        </div>
        <div class="nav-bar-col">
          <a routerLink="/apps">Custom Apps</a>
        </div>
        <div class="nav-bar-col">
          <a routerLink="/marketing">Web Marketing</a>
        </div>
        <div class="nav-bar-col">
          <a routerLink="/contact">Contact</a>
        </div>
        <div class="nav-bar-col">
          <a routerLink="/blog">Blog</a>
        </div>
        <div class="nav-bar-col">
            <a routerLink="/about-us">About Us</a>
        </div>
      </div>
    </div>
  </body>
</html>


