<div class="header_block home">
  <div class="main_nav_block nav clearfix">
    <div class='navIcon float-left'>
      <img src='../../../assets/sapperNav.svg' class='navIconLite'>
    </div>
    <ul class="nav_option_block">
      <!-- <li class="navIcon"></li> -->
      <li class="home">
          <a routerLink="/home">Home</a>
      </li>
      <li class="home">
        <a routerLink="/learning">Learning Platform</a>
      </li>
      <li class="home">
        <a routerLink="/web">Web Design</a>
      </li>
      <li class="home">
        <a routerLink="/apps">Custom Mobile Apps</a>
      </li>
      <li class="home">
        <a routerLink="/about-us">About Us</a>
      </li>
      <div class="cta_btns">
        <a routerLink="/contact" class="contact_us_button cta_blue_btn_light">Join-Up</a>
        <a routerLink="/contact" class="contact_us_button cta_blue_btn_light">Contact Us</a>
        <a routerLink="/contact" class="contact_us_button cta_blue_btn_light">Platform Login</a>
      </div>
      </ul>
  </div>
</div>
