<div class="navbar">
  <nav class="navbar navbar-dark bg-dark">
    <div class="main_nav_block nav clearfix">
      <div class='navIcon float-left'>
        <img src='../../../assets/sapperNav.svg' class='navIconLite'>
      </div>
    </div>
      <a routerLink="/home">Home</a>
      <a routerLink="/learning">Learning Platform</a>
      <a routerLink="/web">Web Design</a>
      <a routerLink="/apps">Custom Mobile Apps</a>
      <a routerLink="/about-us">About Us</a>
      <button routerLink="/contact" type="button" class="btn btn-primary">Contact Us</button>
      <button routerLink="/learning" type="button" class="btn btn-outline-primary">Join-Up</button>
      <button routerLink="/learning" type="button" class="btn btn-outline-warning">Platform Login</button>
    </nav>
</div>

<div class="main">
  <p>Some text some text some text some text..</p>
</div>