.overlay {
    position: absolute;
    z-index: 1000;
    height: fit-content;
    width: fit-content;
    background: #6F9FD8;
    top: 50%;
    left: 50%;
    padding: 40px;
    margin-left: -240px;
    margin-top: -100px;
    border-radius: 5px;
}
.overlay p {
    padding: 15px;
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
}
.learning-content {
    width: 100%;
    height: 680px;
    background:
    linear-gradient(
      rgba(0,0,0,.5), 
      rgba(0,0,0,.5)
    ),
    url('../../../assets/coverPhoto.png') no-repeat;
    background-size: cover;
}
.title {
    color: #feff00;
    font-style: normal;
    font-family: normal;
    font-size: 80px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
}
.subtitle {
    font-size: 28px;
    color: #feff00;
    font-style: italic;
    text-align: -webkit-center;
  }