<div class="form">
    <div class="card card-block">
      <h4 class="card-title">How can we help?</h4>
      <br><br>
      <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName">
        </div>
        <div class="form-group">
          <label for="lastName">Email</label>
          <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber">
        </div>
        <div class="form-group">
          <label for="phoneNumber">Tell us about your project?</label>
          <textarea name="message" rows="10" cols="30" class="form-control" id="message"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
</div>