.card-block {
    display: inline-block;
    width: 29%;
    padding-top: 0px;
    margin-right: 2%;
    height: 271px;
    /* background-image:url("../../../../assets/coverPhoto.png") */
}
.card-title {
    margin-bottom: .75rem;
    text-align: center;
}
.card-text:last-child {
    margin-bottom: 0;
    text-align: center;
}
.card-background {
    width: 100%;
    height: 100%;
}
