<h2>Our Sapper Team Leaders</h2>
<h3>Loy O'Kelley</h3>
<p>Former Army Sapper Captain Loy O'Kelley is the  full-stack web developer leading a team specializing in full-stack JavaScript devleopment. As a combat Veteran, Loy loves introducing Soldiers to the tech industry, and preparing his team for lifelong success as developers.</p>
<br>
<h3>John Bradley</h3>
<p>Form Army Ranger and Sapper Captain John Bradley is a fullstack web and mobile app developer leading his team in iOS mobile and JavaScript web development. John is passionate about building great product, and loves to teach programming concepts while leading his team in realizing a client's vision.</p>
<br>
<h3>Nate Smith</h3>
<p>Nate Smith leadsbrings Silicon Valley web-development experience to his team as an web and mobile-app developer with a focus on database design and back-end frameworks. Nate is passionate about the gritty programming details, and about helping Veterans learn his craft.</p>
<br>
<h3>Victor Adu</h3>
<p>Victor Adu leads React Native and iOS Mobile app developer.</p>