<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <div class="web-cont-class">
          <div class="left-content">
            <div class="web-col1">
              <h2>{{title1}}</h2>
              <br><br>
              <p>{{text1a}}</p>
              <br>
              <p>{{text1b}}</p>
              <br>
              <p>{{text1c}}</p>
            </div>
            <br>
            <div class="web-col2">
              <h2>{{title2}}</h2>
              <br><br>
              <p>{{text2a}}</p>
              <br>
              <p>{{text2b}}</p>
            </div>
          </div>
          <div class="web-form">
              <app-form-web></app-form-web>
          </div>
      </div>
      <app-resume></app-resume>
    </body>
</html>
