.form-request-work {
  background-color: black;
  width: 22rem;
  min-height: 12rem;
}
body {
  width: 25%;
  margin-left: 36%;

}

















/* .jumbotron {
    background-attachment: fixed;
    min-height: 390px;
    margin-bottom: 0px;
    background-image: url('../../assets/CPUBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: black 0.3em 0.3em 0.3em;
  }
.logo {
    min-height: 490px; 
    min-width: 300px;
    background-image: url('../../assets/profile2PNG.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -15px;
    top: 50%;
  }
  
  .title {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #feff00;
    font-style: italic;
    font-family: cursive;
    font-size: 50px;
    padding-top: 120px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block;
  }
  .email-icon {
    background-image: url('../../assets/emailIcon.png');
    background-position: center;
    height: 48px;
    width: 48px;
    margin-top: 1%;
    margin-left: 50%;
  }
  .center {
    text-align: center;
}
h1 {
  color: #feff00;
  font-family: cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

} */