<div id="video_mask"></div>
<div class="jumbotron jumbotron-fluid">
<div class="col-md-6">
    <div class="container">
        <h1>How Sapper Operates</h1> 
        <br>
        <h2>Sapper Coding is like a 'teaching hospital'<br> for web and mobile app development <br> for elite military Veterans</h2>
      </div>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="operates-container">
  <h2>How Sapper Operates</h2>
  <br>
  <p>Military Veterans learn and develop together in Silicon Valley with a 'Sapper Team Lead,' to build your product to spec.</p> 
  <p>Sapper is a 'teaching hospital for programming,' pairing a learning platform with educator-developers.</p>
  <p>Sapper operates exactly how a military unit does. Each member of a unit is responsible for the education of incoming members.</p>
  <p>Students who graduate to earn their Sapper Coding Tab may continue to work with their team, either as freelance Sapper-Coders in Silicon Valley or remotely, or they may take their experience to the job-market.</p>
  <p>Sapper Coding acts as a beachhead for military to enter the software engineering industry with real-world skills.</p>
  <p>Sapper partners with great companies looking looking to build great software products and support miltary Veterans.</p>
</div>