<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <div class="contact-cont-class">
        <div class="left-content">
            <h2>Come visit us</h2>
            <br><br>
            <app-map></app-map>
            <div class="address">
              <br>
              <p>Sapper Coding LLC.<br>
              665 South 10th St<br>
              San Jose CA 95112 United States</p>
            </div>
          </div>
          <div class="web-form">
            <app-form-web></app-form-web>
          </div>
      </div>
        <app-resume></app-resume>
    </body>
</html>
