<div class="jumbotron">
  <div class="text-center project-referal">
    <div class="title text-center">What We Can Do For Your Project</div>
  </div>
</div>
<div class="resume-container">
    <div class="section center">
        <div class="row center">
            <div class="col s12 m4">
                <div class="panel">
                    <ul class="collection with-header">
                        <li class="collection-header gold accent-4">
                            <h5>Languages</h5>
                        </li>
                        <li class="collection-item">JavaScript (ES6)</li>
                        <li class="collection-item">TypeScript</li>
                        <li class="collection-item">Python</li>
                        <li class="collection-item">Java</li>
                        <li class="collection-item">CSS</li>
                        <li class="collection-item">HTML</li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="panel">
                    <ul class="collection with-header">
                        <li class="collection-header gold accent-4">
                            <h5>Front End Web</h5>
                        </li>
                        <li class="collection-item">React</li>
                        <li class="collection-item">Angular</li>
                        <li class="collection-item">jQuery</li>
                        <li class="collection-item">AJAX, JSON</li>
                        <li class="collection-item">RESTful APIs</li>
                        <li class="collection-item">Bootstrap</li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="panel">
                    <ul class="collection with-header">
                        <li class="collection-header gold accent-4">
                            <h5>Back End</h5>
                        </li>
                        <li class="collection-item">Node.js</li>
                        <li class="collection-item">Express</li>
                        <li class="collection-item">Django</li>
                        <li class="collection-item">Flask</li>
                        <li class="collection-item">AWS(EC2, Lambda)</li>
                        <li class="collection-item">RESTful Routing</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row center">
                <div class="col s12 m4">
                    <div class="panel">
                        <ul class="collection with-header">
                            <li class="collection-header gold accent-4">
                                <h5>Database</h5>
                            </li>
                            <li class="collection-item">MySQL</li>
                            <li class="collection-item">NoSQL</li>
                            <li class="collection-item">MongoDB, Mongoose</li>
                            <li class="collection-item">Django, ORM</li>
                            <li class="collection-item">SWIFT Core Data</li>
                            <li class="collection-item">PostgreSQL</li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="panel">
                        <ul class="collection with-header">
                            <li class="collection-header gold accent-4">
                                <h5>Software</h5>
                            </li>
                            <li class="collection-item">Git</li>
                            <li class="collection-item">MySQLWorkbench</li>
                            <li class="collection-item">Postman</li>
                            <li class="collection-item">Babel</li>
                            <li class="collection-item">Webpack</li>
                            <li class="collection-item">Apple ARKit</li>
                        </ul>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="panel">
                        <ul class="collection with-header">
                            <li class="collection-header gold accent-4">
                                <h5>Methodologies</h5>
                            </li>
                            <li class="collection-item">OOP</li>
                            <li class="collection-item">MVC</li>
                            <li class="collection-item">RESTful Architecture</li>
                            <li class="collection-item">CRUD Operations</li>
                            <li class="collection-item">AWS(EC2, Lambda)</li>
                            <li class="collection-item">RESTful Routing</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>