<!DOCTYPE html>
    <head>
    </head>
      <div class="page_data_carrier">
          <div id="local_job_demand">
            <div class="upper_container">
              <div class="container">
                <h3>Building small teams of military Veterans to develop great products</h3>
                <h6>Sapper Coding trains exceptional military Veterans to form small teams building a portfolio of real-world projects. </h6>
                <p>Sapper Team Specializations</p>
              </div>
              <ul id="stack_list" class="list-unstyled">
                <li class="stack_item python" data-stack-name="python" data-tab-href="what-is-python-programming">
                  <div>
                    <span class="stack_name">PYTHON</span>
                    <span class="icon_block">
                      <span class="stack_icon"></span>
                    </span>
                  </div>
                </li>
                <li class="stack_item mean" data-stack-name="mean" data-tab-href="what-is-mean-programming">
                    <div>
                      <span class="stack_name">MEAN</span>
                      <span class="icon_block mean">
                        <span class="stack_icon"></span>
                      </span>
                    </div>
                  </li>
                  <li class="stack_item django" data-stack-name="django" data-tab-href="what-is-django-programming">
                      <div>
                        <span class="stack_name">DJANGO</span>
                        <span class="icon_block django">
                          <span class="stack_icon"></span>
                        </span>
                      </div>
                    </li>
                    <li class="stack_item js" data-stack-name="javascript" data-tab-href="what-is-javascript-programming">
                        <div>
                          <span class="stack_name">JAVASCRIPT</span>
                          <span class="icon_block django">
                            <span class="stack_icon"></span>
                          </span>
                        </div>
                      </li>
                      <li class="stack_item swift" data-stack-name="swift" data-tab-href="what-is-swift-programming">
                          <div>
                            <span class="stack_name">iOS SWIFT</span>
                            <span class="icon_block swfit">
                              <span class="stack_icon"></span>
                            </span>
                          </div>
                        </li>
                        <li class="stack_item angular" data-stack-name="angular" data-tab-href="what-is-angular-programming">
                            <div>
                              <span class="stack_name">ANGULAR</span>
                              <span class="icon_block angular">
                                <span class="stack_icon"></span>
                              </span>
                            </div>
                          </li>
              </ul>
        </div>
        <div class="lower_container">
          <div class="stack_tab_container">
            <div class="content">
              <h4>Where We Come From</h4>
              <ul id="location_list" class="list_unstyled">
                <li>
                  <span class="stack_place_text">Fort Leonard Wood, MO</span>
                </li>
                <li>
                  <span class="stack_place_text">Fort Campbell, KY</span>
                </li>
                <li>
                  <span class="stack_place_text">Fort Belvoir, DC</span>
                </li>
                <li>
                  <span class="stack_place_text">Fort Bragg, NC</span>
                </li>
                <li>
                    <span class="stack_place_text">Fort Benning, GA</span>
                </li>
                <li>
                  <span class="stack_place_text">Fort Hood, TX</span>
                </li>
              </ul>
              <h4>Where We Are Today</h4>
              <ul id="location_list" class="list_unstyled">
                <li>
                  <span class="stack_place_text">Silicon Valley, CA</span>
                </li>
              </ul>
            </div>
            <div class="content">
              <div class="location_container"></div>
            </div>
            <div class="content">
                <h4>Companies Supporting Sappers</h4>
                <ul class="list_unstyled companies_using_stack_list">
                  <li class="companies_using_stack_list" style="background-position: -491px -9px;">Wounded Warrior Project<li>
                  <li class="companies_using_stack_list" style="background-position: -491px -9px;">Veteran Service Organization<li>
                </ul>
              </div>
            </div>
        </div>
        </div>
        <app-form-free-quote></app-form-free-quote>
      <div class="port-cont-title ">
        <h1>{{title}}</h1>
      </div>
      <div class="port-cont-class">
        <app-portfolio></app-portfolio>
      </div>
