<div class="container-fluid">
    <h3> Building small teams of military
      <br>
      Veterans to develop great products
        <br>
        <small class="text-muted">Sapper Coding trains exceptional military Veterans <br> to form small teams building a portfolio of real-world projects.</small>
      </h3>
      <br>
      <p>Sapper Team Specializations</p>
      <div class="images">
        <img src='../../../assets/python100.png' class="rounded float-center" alt="pythonStack">
        <img src='../../../assets/mean100.png' class="rounded float-center" alt="pythonStack">
        <img src='../../../assets/django100.png' class="rounded float-center" alt="pythonStack">
        <img src='../../../assets/angular100.png' class="rounded float-center" alt="pythonStack">
        <img src='../../../assets/javascript100.png' class="rounded float-center" alt="pythonStack">
        <img src='../../../assets/swift100.png' class="rounded float-center" alt="pythonStack">
     </div>
    </div>
      <div class="port-cont-title ">
        <h1>{{title}}</h1>
      </div>
      <div class="port-cont-class">
        <app-portfolio></app-portfolio>
      </div>
